.shortPublicationsContainer {
  margin-bottom: 20px;
}

.siderContainer {
  background-color: white;
}

.contentContainer {
  border-radius: 10px;
  background-color: whitesmoke;
}

.facetButton {
  text-align: initial;
  width: 100% !important;
  padding: 10px;
  cursor: pointer;
  padding-left: 20px;
  border-bottom: whitesmoke;
  border-bottom: 1px solid black !important;
  box-shadow: unset !important;
  // background-color: red;

  // box-shadow: 0px 0 0 0 #f0f0f0, 0 0px 0 0 #f0f0f0, 0px 0px 0 0 #f0f0f0,
  //   0 0 0 0px #f0f0f0 inset, 0 1px 0 0 #f0f0f0 inset;
}

.facetButtonLastChild {
  border-bottom-left-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}

.facetButtonBadge {
  background-color: gray;
}

.facetCardBody {
  padding: 0;
}

.breadcrumbContainer {
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 20px;
}

.aLink {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

.noteContainer {
  background-color: #d9edf7;
  border: 1px solid transparent;
  border-color: #bce8f1;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin-bottom: 20px;
  span {
    color: #31708f;
  }
}

.footerContainer {
  text-align: end;
}

.treeSelectorContainer {
  margin-bottom: 20px;
}

.newPublication {
  padding: 20px;
  border: 1px solid black;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.newPublication:hover {
  color: black;
  background-color: whitesmoke;
}
